@import url('https://webfontworld.github.io/kopus/KoPubWorldBatang.css');

html {
  /* background-color: #bcd8db; */
  background-color: #fff;
}

body {
  font-family: "KoPubWorldBatang";
}

.container {
  max-width: 540px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  flex: 1 0;
}

.text {
  word-wrap: normal;
}

.wedding-day {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.sub-title {
  color: #1e2c42;
  padding-bottom: 8px;
  border-bottom: 1px solid #bcd8db;
  display: inline-block;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
