@import url('https://webfontworld.github.io/kopus/KoPubWorldBatang.css');

html {
  background-color: #bcd8db;
}

body {
  font-family: "KoPubWorldBatang";
}

.container {
  max-width: 540px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  flex: 1 0;
}

.text {
  word-wrap: normal;
}

.wedding-day {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}
