.navigation-bar {
    margin-bottom: 30px;
    /* background-color: #4e9a98; */
    background-color: #1e2c42;
    color: #fff;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
}
.pipe {
    width: 2%;
    background-color: #fff;
}

.navigation-bar > div {
    /* border-right: 3px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navigation-bar > div:last-child {
    /* border-right: unset; */
}