.button-group {
    position: fixed;
    bottom: 20px;
    display: inline-flex;
    flex-wrap: wrap; /* 줄바꿈을 위해 flex-wrap 추가 */
    z-index: 101;
    width: 50px;
    right: 3%;
}

.button-group > div {
    display: inline-flex;
}

.button-group > .kakao-share {
    margin-bottom: 10px;
}

.button-group > .kakao-share,
.button-group > .default-share {
    justify-content: end;
}

.button-group > .kakao-share > img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.button-group > .default-share > div {
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #1e2c42;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-group > .default-share > div > img {
    width: 50%;
    height: 50%;
    transform: translate(-1px, 0);
}